.escenario {
  position: relative;
  width: 100%;
  height: 867px; /* Altura del escenario */
  overflow: hidden; /* Oculta las partes del fondo que se cortan */
  background-image: url('escenario.png'); 
  background-size: auto 100%; /* Ajusta la imagen de fondo para que cubra toda la altura del escenario */
  animation: moveBackground 5s linear infinite; /* Ajusta la velocidad de desplazamiento según sea necesario */
}

@keyframes moveBackground {
  0% { background-position: 0 0; }
  100% { background-position: -2000px 0; } /* Ajusta la cantidad de desplazamiento según sea necesario */
}

  .obstacle {
    position: absolute;
    width: 50px; 
    height: 50px;
    background-size: cover;
    left: calc(100% - 50px);
  }
  /*
  .cell {
    background-image: url('cell.png');
  }
  
  .roca {
    background-image: url('roca.png'); 
  }
  */