.escenario {
  position: relative;
  width: 100%;
  height: 867px; /* Altura del escenario */
  overflow: hidden; /* Oculta las partes del fondo que se cortan */
  background-image: url('escenario.png'); 
  background-size: auto 100%; /* Ajusta la imagen de fondo para que cubra toda la altura del escenario */
  animation: moveBackground 5s linear infinite;/* Ajusta la velocidad de desplazamiento según sea necesario */
}
@keyframes moveBackground {
  0% { background-position: 0 0; }
  100% { background-position: -2400px 0; }/* Ajusta la cantidad de desplazamiento según sea necesario */
}



@keyframes moveObstacle {
  0% { left: 100%; }
  100% { left: -800px; } /* Ajusta la posición de destino de los obstáculos */
}
.info div {
  font-family: 'Press Start 2P', cursive; 
  font-size: 48px; 
  color: #ffffff; 
  text-shadow: 3px 3px 3px #000000; 
  letter-spacing: 1px; 
  text-align: right ;
  padding: 15px;
}

.cell {
  background-image: url('cell.png');
  
}

.roca {
  background-image: url('frezeer.png'); 
  width: 200px;
}
